<p style="color: green"><%= notice %></p>

<%= render @branch %>
<%= render @location %>
<%= render @schedule %>

<div>
<%= link_to "Volver a sucursales", branches_path %>
  <% if can? :manage, Branch %>
    <%= link_to "Editar sucursal", edit_branch_path(@branch) %>
    <%= link_to "Editar horario" , edit_schedule_path(@branch.schedule_id) %>
    <%= button_to "Eliminar sucursal", @branch, method: :delete %>
  <% end %>
</div>
