<div>
 Correo:    <%= @user.email %>
</div>
Rol: <%= @user.role%>
<br>
<% if @user.id == current_user.id %>
    <%= link_to  'Editar Perfil' ,edit_user_registration_path%>
<% else %>
    <% if can? :manage, User %>
        <div>
            <%= link_to "Editar Usuario " ,  users_edit_path(@user.id) %>
            <%= button_to "Eliminar Usuario", :users_destroy, method: :delete %>
        </div>
    <% end %>
<% end %>