<div id="<%= dom_id schedule %>">
  <p>
    <strong>Apertura Lunes:</strong>
    <%= schedule.monday_start.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Cierre Lunes:</strong>
    <%= schedule.monday_end.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Apertura Martes:</strong>
    <%= schedule.tuesday_start.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Cierre Martes:</strong>
    <%= schedule.tuesday_end.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Apertura Miercoles:</strong>
    <%= schedule.wednesday_start.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Cierre Miercoles:</strong>
    <%= schedule.wednesday_end.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Apertura Jueves:</strong>
    <%= schedule.thursday_start.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Cierre Jueves:</strong>
    <%= schedule.thursday_end.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Apertura Viernes:</strong>
    <%= schedule.friday_start.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Cierre Viernes:</strong>
    <%= schedule.friday_end.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Apertura Sabado:</strong>
    <% if schedule.saturday_start %>
      <%= schedule.saturday_start.strftime('%H:%M') %>
    <% end %>
  </p>

  <p>
    <strong>Cierre Sabado:</strong>
    <% if schedule.saturday_end %>
      <%= schedule.saturday_end.strftime('%H:%M') %>
    <% end %>
  </p>

  <p>
    <strong>Apertura Domingo:</strong>
    <% if schedule.sunday_start %>
      <%= schedule.sunday_start.strftime('%H:%M') %>
    <% end %>
  </p>

  <p>
    <strong>Cierre Domingo:</strong>
    <% if schedule.sunday_end %>
      <%= schedule.sunday_end.strftime('%H:%M') %>
    <% end %>
  </p>

</div>
