<div id="<%= dom_id schedule %>">
  <p>
    <strong>Apertura Lunes:</strong>
    <%= schedule.monday_start %>
  </p>

  <p>
    <strong>Cierre Lunes:</strong>
    <%= schedule.monday_end %>
  </p>

  <p>
    <strong>Apertura Martes:</strong>
    <%= schedule.tuesday_start %>
  </p>

  <p>
    <strong>Cierre Martes:</strong>
    <%= schedule.tuesday_end %>
  </p>

  <p>
    <strong>Apertura Miercoles:</strong>
    <%= schedule.wednesday_start %>
  </p>

  <p>
    <strong>Cierre Miercoles:</strong>
    <%= schedule.wednesday_end %>
  </p>

  <p>
    <strong>Apertura Jueves:</strong>
    <%= schedule.thursday_start %>
  </p>

  <p>
    <strong>Cierre Jueves:</strong>
    <%= schedule.thursday_end %>
  </p>

  <p>
    <strong>Apertura Viernes:</strong>
    <%= schedule.friday_start %>
  </p>

  <p>
    <strong>Cierre Viernes:</strong>
    <%= schedule.friday_end %>
  </p>

</div>
