<div id="<%= dom_id schedule %>">
  <p>
    <strong>Monday start:</strong>
    <%= schedule.monday_start %>
  </p>

  <p>
    <strong>Monday end:</strong>
    <%= schedule.monday_end %>
  </p>

  <p>
    <strong>Tuesday start:</strong>
    <%= schedule.tuesday_start %>
  </p>

  <p>
    <strong>Tuesday end:</strong>
    <%= schedule.tuesday_end %>
  </p>

  <p>
    <strong>Wednesday start:</strong>
    <%= schedule.wednesday_start %>
  </p>

  <p>
    <strong>Wednesday end:</strong>
    <%= schedule.wednesday_end %>
  </p>

  <p>
    <strong>Thursday start:</strong>
    <%= schedule.thursday_start %>
  </p>

  <p>
    <strong>Thursday end:</strong>
    <%= schedule.thursday_end %>
  </p>

  <p>
    <strong>Friday start:</strong>
    <%= schedule.friday_start %>
  </p>

  <p>
    <strong>Friday end:</strong>
    <%= schedule.friday_end %>
  </p>

</div>
