<div id="<%= dom_id appointment %>">
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= appointment.hour %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= appointment.reason %>
  </p>

  <p>
    <strong>State:</strong>
    <%= appointment.state %>
  </p>

  <p>
    <strong>Attended by:</strong>
    <%= appointment.attended_by %>
  </p>

</div>
