<div id="<%= dom_id appointment %>">
  <p>
    <strong>Dia:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= appointment.hour.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Razon:</strong>
    <%= appointment.reason %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= appointment.state %>
  </p>

  <p>
    <strong>Atendido por:</strong>
    <% if  @users.find_by_id(appointment.attended_by_id).present?%>
      <%= @users.find_by_id(appointment.attended_by_id).email %>
    <% end %>
  </p>

</div>
