<div id="<%= dom_id appointment %>">
  <p>
    <strong>Dia:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= appointment.hour %>
  </p>

  <p>
    <strong>Razon:</strong>
    <%= appointment.reason %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= appointment.state %>
  </p>

  <p>
    <strong>Atendido por:</strong>
    <%= appointment.attended_by %>
  </p>

</div>
