<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :attended_by_id, value: current_user.id %>
  <div>
    <%= form.label :Comentario, style: "display: block" %>
    <%= form.text_field :comment %>
  </div>
  <%= form.hidden_field :state, value: 'Atendido' %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
