<p style="color: green"><%= notice %></p>

<h1>Turnos</h1>

<div id="appointments">
  <% @appointments.each do |appointment| %>
    <%if current_user.role == 'staff' %>
      <% if appointment.branch_id == current_user.assignedbranch %>
        <%= render appointment %>
      <p>
        <%= link_to "Mostrar turno", appointment %>
      </p>
      <% end %>
    <% else %>
      <% if current_user.id == appointment.user_id%>
        <%= render appointment %>
        <p>
          <%= link_to "Mostrar turno", appointment %>
        </p>
      <% end %>
    <% end %>
  <% end %>
<% if current_user.role == 'client' %>
  <%= link_to "Solicitar turno", new_appointment_path %>
<% end %>
</div>