<p style="color: green"><%= notice %></p>

<%= render @appointment %>
<b>Comentario: </b><%= @appointment.comment%>
<%= render @branch %>


<div>
<% if current_user.role == 'client' %>
  <% if @appointment.state != 'Atendido' %>
    <%= link_to "Editar Turno", edit_appointment_path(@appointment) %>
    <%= button_to "Cancelar turno", @appointment, method: :delete %>
  <% end %>
<% else %>
  <% if @appointment.state != 'Atendido' %>
    <%= link_to "Atender turno", edit_appointment_path(@appointment) %>
  <% end %>
<% end %>
  <%= link_to "Volver a turnos", appointments_path %>
</div>
