<!DOCTYPE html>
<html>
  <head>
    <title>TrabajoIntegrador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <div>
    <% if signed_in? %>
      <div> Bienvenido! <%= current_user.email %></div>
      <%= link_to "Sucursales", branches_path %>
      <%= link_to "Localidades", locations_path %>
      <%= link_to "Usuarios" , users_index_path %>
      <%= link_to "Mi Perfil" , profile_path(current_user.id) %>
      <%= link_to "Salir", destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Registrarse", new_user_registration_path %>
      <%= link_to "Ingresar", new_user_session_path %>
    <% end %>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
