<!DOCTYPE html>
<html>
  <head>
    <title>TrabajoIntegrador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <div class="header">
    <% if signed_in? %>
      <span id="welcome"> Bienvenido! <%= current_user.email %> </span>
      <%= link_to "Home", home_path , class: "headerlink"%>
      <% if can? :read, Branch %>
        <%= link_to "Sucursales" , branches_path , class: "headerlink"%>
      <% end %>
      <% if can? :read, User %>
        <% if current_user.role != 'client'%>
          <%= link_to "Usuarios" , users_index_path , class: "headerlink"%>
        <% end %>
      <%end%>
      <% if can? :read, Location %>
        <%= link_to "Localidades", locations_path , class: "headerlink" %>
      <% end %>
      <% if can? :read, Appointment %>
        <%= link_to "Turnos", appointments_path , class: "headerlink"%>
      <% end %>
      <%= link_to "Mi Perfil" , profile_path(current_user.id) , class: "headerlink"%>
      <%= link_to "Salir", destroy_user_session_path, data: { turbo_method: :delete } , class: "headerlink"%>
    <% else %>
      <%= link_to "Registrarse", new_user_registration_path , class: "headerlink"%>
      <%= link_to "Ingresar", new_user_session_path , class: "headerlink"%>
    <% end %>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
